<%- include('header'); -%>
<%- include('navbar'); -%>

<link rel="stylesheet" type="text/css" href="./style.css">
<div>
  <h1><strong>Szia <%= username %>!</strong></h1>
  <div>  
  
  <div><%= firstKey %></div>
  <div><strong><%= secondKey %></strong></div>
  <div><img src="./node.png" /></div>

    <p><a href="/logout">Log out</a></p>
  </div>
</div>